{
  "extends": [
    "react-app",
    "airbnb",
    "airbnb/hooks",
    "prettier",
    "prettier/react"
  ],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
